[gcode_macro _PARK_TOOLHEAD]
description: Parks the print head to a safe location.
gcode:
   {% set edge_offset = params.EDGE_OFFSET|default(10)|float          %}
   {% set x_position  = printer.toolhead.axis_minimum.x + edge_offset %}
   {% set y_position  = printer.toolhead.axis_maximum.y - edge_offset %}

   RESPOND TYPE=echo MSG='{"Parking toolhead at position X" + x_position|string + " Y" + x_position|string}'

   {% if printer.gcode_move.absolute_coordinates %}

      # Move to absolute park position
      G1 X{x_position} Y{y_position} F6000.0

   {% else %}

      # Use absolute coordinates
      G90

      # Move to absolute park position
      G1 X{x_position} Y{y_position} F6000.0

      # Re-enable relative coordinates
      G91

   {% endif %}
