[include TRY_RETRACT.cfg]
[include TRY_UNRETRACT.cfg]
[include _RESPOND_COMMON.cfg]

[gcode_macro _PURGE_LINE]
description: Creates a simple purge line to prepare for a print.
gcode:
   # Save gcode state
   SAVE_GCODE_STATE NAME=purge_line_state

   # Use absolute coordinates
   G90

   {% if printer.toolhead.homed_axes != "xyz" %}

      _RESPOND_COMMON TAG="Purge line failed: " TYPE=not_homed

   {% elif not printer.extruder.can_extrude %}

      _RESPOND_COMMON TAG="Purge line failed: " TYPE=extruder_is_cold

   {% else %}

      # Start position is bottom-left corner + 10mm on both axises
      G1 X{printer.bed_mesh.mesh_min[0] + 10} Y{printer.bed_mesh.mesh_min[1] + 10} F6000

      # Layer height of purge line is 0.28mm
      G1 Z0.28 F6000

      # Unretract
      TRY_UNRETRACT

      # Purge line is the entire length of the print bed -10mm on both ends
      G1 Y{printer.bed_mesh.mesh_max[1] - 10} F1500 E15

      # Move x-axis to the right 0.3mm
      G1 X{printer.bed_mesh.mesh_min[0] + 10.3} F6000

      # Second purge line is next to the previous
      G1 Y{printer.bed_mesh.mesh_min[1] + 10} F1500 E15

      # Retract
      TRY_RETRACT

   {% endif %}
   
   # Restore gcode state
   RESTORE_GCODE_STATE NAME=purge_line_state