[include utilities/TRY_RETRACT.cfg]
[include utilities/TRY_UNRETRACT.cfg]

[gcode_macro _PURGE_LINE]
description: Creates a simple purge line to prepare for a print.
gcode:
   # Jinja2 macro definition
   {% macro purgeLineImp() %}

         # Start position is bottom-left corner + 10mm on both axises
         G1 X{printer.toolhead.axis_minimum.x + 10} Y{printer.toolhead.axis_minimum.y + 10} F6000

         # Layer height of purge line is 0.28mm
         G1 Z0.28 F6000

         # Unretract
         TRY_UNRETRACT

         # Purge line is the entire length of the print bed -10mm on both ends
         G1 Y{printer.toolhead.axis_maximum.y - 10} F1500 E15

         # Move x-axis to the right 0.3mm
         G1 X{printer.toolhead.axis_minimum.x + 10.3} F6000

         # Second purge line is next to the previous
         G1 Y{printer.toolhead.axis_minimum.y + 10} F1500 E15

         # Retract
         TRY_RETRACT

   {% endmacro %}

   {% if printer.toolhead.homed_axes == "xyz" %}

      {% if printer.gcode_move.absolute_coordinates %}

         # Call purge macro
         {purgeLineImp()}

      {% else %}

         # Use absolute coordinates
         G90

         # Call purge macro
         {purgeLineImp()}
         
         # Re-enable relative coordinates
         G91

      {% endif %}

   {% endif %}