[include TRY_RETRACT.cfg]
[include TRY_UNRETRACT.cfg]
[include _RESPOND_COMMON.cfg]

[gcode_macro _PURGE_LINE]
description: Creates a simple purge line to prepare for a print.
gcode:
   # State validation
   {% if       printer.toolhead.homed_axes != "xyz" %} _RESPOND_COMMON TAG="Purge line failed: " TYPE=not_homed
   {% elif not printer.extruder.can_extrude         %} _RESPOND_COMMON TAG="Purge line failed: " TYPE=extruder_is_cold

   {% else %}
      # Save gcode state
      SAVE_GCODE_STATE NAME=purge_line_state

      RESPOND MSG="starting purge line..."

      # Use absolute coordinates
      G90

      # Start position is bottom-left corner + 25mm on both axises
      G1 X{printer.configfile.settings.bed_mesh.mesh_min[0] + 25} Y{printer.configfile.settings.bed_mesh.mesh_min[1] + 25} F6000

      # Layer height of purge line is 0.28mm
      G1 Z0.28 F6000

      # Unretract
      TRY_UNRETRACT

      # Purge line is the entire length of the print bed -25mm on both ends
      G1 Y{printer.configfile.settings.bed_mesh.mesh_max[1] - 25} F1500 E15

      # Move x-axis to the right 0.3mm
      G1 X{printer.configfile.settings.bed_mesh.mesh_min[0] + 25.3} F6000

      # Second purge line is next to the previous
      G1 Y{printer.configfile.settings.bed_mesh.mesh_min[1] + 25} F1500 E15

      # Retract
      TRY_RETRACT

      # Wait for moves to finish
      M400
   
      # Restore gcode state
      RESTORE_GCODE_STATE NAME=purge_line_state

      RESPOND MSG="finished purge line"

   {% endif %}