[gcode_macro _RESPOND_COMMON]
description: RESPOND using a common prefabricated message.
gcode:
   {% if not 'TYPE' in params|upper %}

      RESPOND TYPE=error MSG="_RESPOND_COMMON error: Parameter 'TYPE' must be provided."

   {% else %}

      # Tags are an option short string describing where and what the message source is
      {% set TAG = params.TAG|default("")|string %}

      # The type of the response
      {% set TYPE = params.TYPE|lower|string %}

      # Errors
      {% if   TYPE == 'not_homed'        %} RESPOND TYPE=error TAG={TAG + "Printer is not homed."}
      {% elif TYPE == 'resume_cancelled' %} RESPOND TYPE=error TAG='{TAG + "Cannot resume a cancelled print."}'
      {% elif TYPE == 'extruder_is_cold' %} RESPOND TYPE=error TAG='{TAG + "Extruder not hot enough."}'
      {% elif TYPE == 'retract_failed'   %} RESPOND TYPE=error TAG='{TAG + "Failed to retract filament."}'
      {% elif TYPE == 'unretract_failed' %} RESPOND TYPE=error TAG='{TAG + "Failed to unretract filament."}'

      # Echo
      {% elif TYPE == 'printing'             %} RESPOND TAG='{ TAG + "Printing..."                                             }'
      {% elif TYPE == 'already_printing'     %} RESPOND TAG='{ TAG + "Print already running."                                  }'
      {% elif TYPE == 'standby'              %} RESPOND TAG='{ TAG + "Printer is in standby."                                  }'
      {% elif TYPE == 'paused'               %} RESPOND TAG='{ TAG + "Print paused."                                           }'
      {% elif TYPE == 'already_paused'       %} RESPOND TAG='{ TAG + "Print already paused."                                   }'
      {% elif TYPE == 'cancelled'            %} RESPOND TAG='{ TAG + "Print cancelled."                                        }'
      {% elif TYPE == 'already_cancelled'    %} RESPOND TAG='{ TAG + "Print already cancelled."                                }'
      {% elif TYPE == 'timeout'              %} RESPOND TAG='{ TAG + "Timeout threshold reached."                              }'
      {% elif TYPE == 'timeout_while_paused' %} RESPOND TAG='{ TAG + "Timeout threshold reached while paused."                 }'
      {% elif TYPE == 'heating_bed'          %} RESPOND TAG='{ TAG + "Heating bed to " + params.TEMP|default("?")|string + "C" }'
      {% elif TYPE == 'heating_bed_disabled' %} RESPOND TAG='{ TAG + "Heating bed disabled."                                   }'
      {% elif TYPE == 'heating_extruder'     %} RESPOND TAG='{ TAG + "Heating extruder to " + EXTRUDER_TEMP|string + "C"       }'
      {% elif TYPE == 'loaded_bed_mesh'      %} RESPOND TAG='{ TAG + "Loaded bed mesh profile: " + BED_PROFILE                 }'

      {% endif %}

   {% endif %}