[gcode_macro _RESPOND_COMMON]
description: RESPOND using a common prefabricated message.
gcode:
   {% if not 'TYPE' in params|upper %}

      RESPOND TYPE=error MSG="_RESPOND_COMMON error: Parameter 'TYPE' must be provided."

   {% else %}

      # Tags are an option short string describing where and what the message source is
      {% set TAG = params.TAG|default("")|string %}

      # The type of the response
      {% set TYPE = params.TYPE|lower|string %}

      # Errors
      {% if   TYPE == 'not_homed'        %} RESPOND TYPE=error MSG='{ TAG + "Printer is not homed"            }'
      {% elif TYPE == 'resume_cancelled' %} RESPOND TYPE=error MSG='{ TAG + "Cannot resume a cancelled print" }'
      {% elif TYPE == 'extruder_is_cold' %} RESPOND TYPE=error MSG='{ TAG + "Extruder is not hot enough"      }'
      {% elif TYPE == 'retract_failed'   %} RESPOND TYPE=error MSG='{ TAG + "Failed to retract filament"      }'
      {% elif TYPE == 'unretract_failed' %} RESPOND TYPE=error MSG='{ TAG + "Failed to unretract filament"    }'

      # Echo
      {% elif TYPE == 'print_started'        %} RESPOND MSG='{ TAG + "Print started..."                                        }'
      {% elif TYPE == 'print_finished'       %} RESPOND MSG='{ TAG + "Print finished"                                          }'
      {% elif TYPE == 'already_printing'     %} RESPOND MSG='{ TAG + "Print already running"                                   }'
      {% elif TYPE == 'standby'              %} RESPOND MSG='{ TAG + "Printer is in standby"                                   }'
      {% elif TYPE == 'paused'               %} RESPOND MSG='{ TAG + "Print paused"                                            }'
      {% elif TYPE == 'already_paused'       %} RESPOND MSG='{ TAG + "Print already paused"                                    }'
      {% elif TYPE == 'resumed'              %} RESPOND MSG='{ TAG + "Print resumed"                                           }'
      {% elif TYPE == 'cancelled'            %} RESPOND MSG='{ TAG + "Print cancelled"                                         }'
      {% elif TYPE == 'already_cancelled'    %} RESPOND MSG='{ TAG + "Print already cancelled"                                 }'
      {% elif TYPE == 'timeout'              %} RESPOND MSG='{ TAG + "Timeout threshold reached"                               }'
      {% elif TYPE == 'timeout_while_paused' %} RESPOND MSG='{ TAG + "Timeout threshold reached while paused"                  }'
      {% elif TYPE == 'heating_bed'          %} RESPOND MSG='{ TAG + "Heating bed to " + params.TEMP|default("?")|string + "C" }'
      {% elif TYPE == 'heating_bed_disabled' %} RESPOND MSG='{ TAG + "Heating bed disabled"                                    }'
      {% elif TYPE == 'heating_extruder'     %} RESPOND MSG='{ TAG + "Heating extruder to " + params.TEMP|string + "C"         }'
      {% elif TYPE == 'loaded_bed_mesh'      %} RESPOND MSG='{ TAG + "Loaded bed mesh profile: " + params.PROFILE|string       }'

      # Respond with error message if type doesn't exist
      {% else %} RESPOND TYPE=error MSG='{ "_RESPOND_COMMON error: Unknown response type '" + TYPE + "'." }' {% endif %}

   {% endif %}