[gcode_macro _RESPOND_COMMON]
description: RESPOND using a common prefabricated message.
gcode:
   {% if not 'TYPE' in params|upper %}

      RESPOND TYPE=error MSG="_RESPOND_COMMON error: Parameter 'TYPE' must be provided."

   {% else %}

      {% set TYPE = params.TYPE|lower|string %}

      # Errors
      {% if   TYPE == 'not_homed'        %} RESPOND TYPE=error MSG="Printer is not homed."
      {% elif TYPE == 'resume_cancelled' %} RESPOND TYPE=error MSG="Cannot resume a cancelled print."
      {% elif TYPE == 'retract_failed'   %} RESPOND TYPE=error MSG="Failed to retract filament."
      {% elif TYPE == 'unretract_failed' %} RESPOND TYPE=error MSG="Failed to unretract filament."

      # Echo
      {% elif TYPE == 'printing'             %} RESPOND MSG="Printing..."
      {% elif TYPE == 'already_printing'     %} RESPOND MSG="Print already running."
      {% elif TYPE == 'standby'              %} RESPOND MSG="Printer is in standby."
      {% elif TYPE == 'paused'               %} RESPOND MSG="Print paused."
      {% elif TYPE == 'already_paused'       %} RESPOND MSG="Print already paused."
      {% elif TYPE == 'cancelled'            %} RESPOND MSG="Print cancelled."
      {% elif TYPE == 'already_cancelled'    %} RESPOND MSG="Print already cancelled."
      {% elif TYPE == 'timeout'              %} RESPOND MSG="Timeout threshold reached."
      {% elif TYPE == 'timeout_while_paused' %} RESPOND MSG="Timeout threshold reached while paused."
      {% elif TYPE == 'heating_bed'          %} RESPOND MSG='{"Heating bed to " + params.TEMP|default("?")|string + "C"}'
      {% elif TYPE == 'heating_bed_disabled' %} RESPOND MSG="Heating bed disabled."
      {% elif TYPE == 'heating_extruder'     %} RESPOND MSG='{"Heating extruder to " + EXTRUDER_TEMP|string + "C"}'
      {% elif TYPE == 'loaded_bed_mesh'      %} RESPOND MSG='{"Loaded bed mesh profile: " + BED_PROFILE}'

      {% endif %}

   {% endif %}