[gcode_macro _SELECTIVE_HOMING]
description: Home individual axises that are not already homed.
gcode:
   # Homing gcode
   {% set g28_gcode = namespace(value="G28 ") %}

   # Only append axis x or y, but always z
   {% if not 'x' in printer.toolhead.homed_axes or 'X_ALWAYS' in params|upper %} {% set g28_gcode.value = g28_gcode.value + 'x' %} {% endif %} # x
   {% if not 'y' in printer.toolhead.homed_axes or 'Y_ALWAYS' in params|upper %} {% set g28_gcode.value = g28_gcode.value + 'y' %} {% endif %} # y
   {% if not 'z' in printer.toolhead.homed_axes or 'Z_ALWAYS' in params|upper %} {% set g28_gcode.value = g28_gcode.value + 'z' %} {% endif %} # z

   _RESPOND_COMMON TYPE=homing_printer

   # Execute g28_gcode homing command
   {g28_gcode.value}

   # Wait for moves to finish
   M400
