[gcode_macro ENABLE_HEATER]
description: Enables a heater.
gcode:
   # Parameters
   {% set HEATER = params.HEATER|string %}
   {% set TARGET = params.TARGET|float  %}

   # Start heating
   {% if TARGET != 0 %} SET_HEATER_TEMPERATURE HEATER={HEATER} TARGET={TARGET} {% endif %}