[include CLAMPED_MOVE.cfg]

[gcode_macro SAFE_MOVE_TOOLHEAD_UP]
description: Safely moves the toolhead up along the z-axis.
gcode:
   # State validation
   {% if printer.toolhead.homed_axes != "xyz" %} _RESPOND_COMMON TAG="Safely moving toolhead up failed: " TYPE=not_homed

   {% else %}

      {% set AMOUNT = params.AMOUNT|default(20)|float %}
      {% set F      = params.F|default(3000)|float    %}

      # Save gcode state
      SAVE_GCODE_STATE NAME=safe_move_toolhead_up_state

      # Use relative coordinates
      G91

      # Move up along the z-axis by AMOUNT
      CLAMPED_MOVE Z={AMOUNT} F={F}
      
      # Restore gcode state
      RESTORE_GCODE_STATE NAME=safe_move_toolhead_up_state

   {% endif %}