[include CLAMPED_MOVE.cfg]

[gcode_macro SAFE_MOVE_TOOLHEAD_UP]
description: Safely moves the toolhead up along the z-axis.
gcode:
   {% if printer.toolhead.homed_axes == "xyz" %}

      {% set AMOUNT = params.AMOUNT|default(15)|float %}
      {% set RATE   = params.RATE|default(6000)|float %}

      {% if printer.gcode_move.absolute_coordinates %}

         # Move up along the z-axis by AMOUNT
         CLAMPED_MOVE Z={printer.toolhead.position.z + AMOUNT} F={RATE}

      {% else %}

         # Move up along the z-axis by AMOUNT
         CLAMPED_MOVE Z={AMOUNT} F={RATE}

      {% endif %}

   {% endif %}