[include _RESPOND_COMMON.cfg]

[gcode_macro TRY_RETRACT]
description: Tries to retract filament.
gcode:
   # State validation
   {% if not printer.extruder.can_extrude %} _RESPOND_COMMON TAG="Try retract failed: " TYPE=extruder_is_cold
      
   {% else %}

      # Retract gcode
      G10

   {% endif %}