[include _RESPOND_COMMON.cfg]

[gcode_macro TRY_UNRETRACT]
description: Tries to unretract filament.
gcode:
   # State validation
   {% if not printer.extruder.can_extrude %} _RESPOND_COMMON TAG="Try unretract failed: " TYPE=extruder_is_cold
      
   {% else %}

      # Unretract gcode
      G11

   {% endif %}