[gcode_macro WAIT_FOR_HEATER]
description: Waits for a heater to reach TARGET temperature.
gcode:
   # Parameters
   {% set HEATER       = params.HEATER|string                  %}
   {% set TARGET       = params.TARGET|float                   %}
   {% set TARGET_ERROR = params.TARGET_ERROR|default(10)|float %}

   {% set target_min = TARGET - TARGET_ERROR %}
   {% set target_max = TARGET + TARGET_ERROR %}

   # Wait for bed to reach temperature
   {% if TARGET != 0 %} TEMPERATURE_WAIT SENSOR={HEATER} MINIMUM={target_min} MAXIMUM={target_max} {% endif %}