[include macros/utilities/_RESPOND_COMMON.cfg]

[idle_timeout] 
timeout: 300
gcode:
   # Always turn of heaters.
   TURN_OFF_HEATERS

   # If the print is paused, dont do anything to the motors.
   {% if printer.pause_resume.is_paused %}

      _RESPOND_COMMON TYPE=timeout_while_paused

   {% else %}

      _RESPOND_COMMON TYPE=timeout

      # Turn off motors
      M84

   {% endif %}