[idle_timeout] 
timeout: 3600
gcode:
   # Always turn of heaters.
   TURN_OFF_HEATERS

   # If the print is paused, dont do anything to the motors.
   {% if printer.pause_resume.is_paused %}

      RESPOND MSG="Timeout threshold reached (motors still active)."

   {% else %}

      RESPOND MSG="Timeout threshold reached."

      # Turn off motors
      M84

   {% endif %}