[include utilities/SAFE_MOVE_TOOLHEAD_UP.cfg]
[include utilities/_PARK_TOOLHEAD.cfg]
[include utilities/CLAMPED_MOVE.cfg]
[include utilities/TRY_RETRACT.cfg]

[gcode_macro _END_PRINT]
description: Sequence of gcode commands for ending a print.
gcode:
   # Retract
   TRY_RETRACT

   # Turn off all heaters
   TURN_OFF_HEATERS

   # Turn off fans
   M107

   # Move the toolhead up to avoid collisions
   SAFE_MOVE_TOOLHEAD_UP AMOUNT=50

   # Park the toolhead
   _PARK_TOOLHEAD

   # Disable steppers
   M84