[gcode_macro _END_PRINT]
description: Sequence of gcode commands for ending a print.
gcode:
   # Turn off all heaters
   TURN_OFF_HEATERS

   {% if printer.toolhead.homed_axes != "xyz" %}

      # Relative positioning
      G91

      # Raise nozzle by 50mm
      CLAMPED_MOVE Z=50 F=3000

      # Absolute positioning
      G90

      # Move to back-left corner for easy print removal
      _PARK

   {% endif %}
    
   # Disable steppers
   M84