[include utilities/TRY_UNRETRACT.cfg]

[gcode_macro _START_PRINT_POSITION]
description: Sequence of gcode commands for moving the toolhead to the start position of the print.
gcode:
   # State validation
   {% if printer.toolhead.homed_axes != "xyz" %} _RESPOND_COMMON TAG="Moving to start print position failed: " TYPE=not_homed

   {% else %}

      {% set START_POSITION_X = params.START_POSITION_X|float %}
      {% set START_POSITION_Y = params.START_POSITION_Y|float %}
      {% set START_POSITION_Z = params.START_POSITION_Z|float %}

      # Move to the start position of the print
      G1 X{START_POSITION_X} Y{START_POSITION_Y} F6000
      G1 Z{START_POSITION_Z}                     F5000

   {% endif %}