[include _END_PRINT.cfg]
[include utilities/_RESPOND_COMMON.cfg]

[gcode_macro CANCEL_PRINT]
description: Sequence of gcode commands for canceling a print.
rename_existing: CANCEL_PRINT_BASE
gcode:
   # State validation
   {% if   printer.print_stats.state|lower == "standby"   %} _RESPOND_COMMON TAG="Cannot cancel print: " TYPE=standby
   {% elif printer.print_stats.state|lower == "cancelled" %} _RESPOND_COMMON TAG="Cannot cancel print: " TYPE=already_cancelled

   {% else %}

      # Retract
      TRY_RETRACT

      # Turn off all heaters
      TURN_OFF_HEATERS

      # Turn off fans
      M107

      # Only move the toolhead if print isn't paused (avoids duplicate moves)
      {% if printer.print_stats.state|lower != "paused" %}

         # Move the toolhead up to avoid collisions
         SAFE_MOVE_TOOLHEAD_UP AMOUNT=50

         # Park the toolhead
         _PARK_TOOLHEAD

      {% endif %}

      # Disable steppers
      M84

      # Cancel print base
      CANCEL_PRINT_BASE
      
      _RESPOND_COMMON TYPE=cancelled

   {% endif %}
