[include utilities/SAFE_MOVE_TOOLHEAD_UP.cfg]
[include utilities/_PARK_TOOLHEAD.cfg]
[include utilities/CLAMPED_MOVE.cfg]
[include utilities/TRY_RETRACT.cfg]

[gcode_macro PAUSE]
description: Pauses the current running print.
rename_existing: PAUSE_BASE
gcode:
   # State validation
   {% if   printer.print_stats.state|lower == "standby"   %} RESPOND TYPE=error MSG="Printer is idle."
   {% elif printer.print_stats.state|lower == "cancelled" %} RESPOND TYPE=error MSG="Print was cancelled."
   {% elif printer.print_stats.state|lower == "paused"    %} RESPOND TYPE=echo  MSG="Print already paused."

   {% else %}

      PAUSE_BASE

      TRY_RETRACT

      # Move only if all axises are homed
      {% if printer.toolhead.homed_axes == "xyz" %}

         # Move the toolhead up to avoid collisions
         SAFE_MOVE_TOOLHEAD_UP

         # Move to top-left corner
         _PARK_TOOLHEAD

      {% endif %}

   {% endif %}