[include utilities/SAFE_MOVE_TOOLHEAD_UP.cfg]
[include utilities/_PARK_TOOLHEAD.cfg]
[include utilities/CLAMPED_MOVE.cfg]
[include utilities/TRY_RETRACT.cfg]
[include utilities/_RESPOND_COMMON.cfg]

[gcode_macro PAUSE]
description: Pauses the current running print.
rename_existing: PAUSE_BASE
gcode:
   # State validation
   {% if   printer.print_stats.state|lower == "standby"   %} _RESPOND_COMMON TYPE=standby
   {% elif printer.print_stats.state|lower == "cancelled" %} _RESPOND_COMMON TYPE=cancelled
   {% elif printer.print_stats.state|lower == "paused"    %} _RESPOND_COMMON TYPE=already_paused

   {% else %}

      # Pause base
      PAUSE_BASE

      # Retract
      TRY_RETRACT

      # Move only if all axises are homed
      {% if printer.toolhead.homed_axes == "xyz" %}

         # Move the toolhead up to avoid collisions
         SAFE_MOVE_TOOLHEAD_UP

         # Move to top-left corner
         _PARK_TOOLHEAD

      {% endif %}

   {% endif %}