[include utilities/TRY_UNRETRACT.cfg]
[include utilities/_RESPOND_COMMON.cfg]

[gcode_macro RESUME]
description: Resumes the current running print.
rename_existing: RESUME_BASE
variable_bed_profile: ''
variable_bed_temp: 0.0
variable_extruder_temp: 0.0
variable_bed_temp_error: 0.0
variable_extruder_temp_error: 0.0
gcode:
   # State validation
   {% if   printer.print_stats.state|lower == "standby"   %} _RESPOND_COMMON TAG="Cannot resume print: " TYPE=standby
   {% elif printer.print_stats.state|lower == "cancelled" %} _RESPOND_COMMON TAG="Cannot resume print: " TYPE=print_cancelled
   {% elif printer.print_stats.state|lower == "printing"  %} _RESPOND_COMMON TAG="Cannot resume print: " TYPE=print_already_running

   {% else %}

      # Load saved variables
      {% set BED_PROFILE         = bed_profile|string        %}
      {% set BED_TEMP            = bed_temp|float            %}
      {% set EXTRUDER_TEMP       = extruder_temp|float       %}
      {% set BED_TEMP_ERROR      = bed_temp_error|float      %}
      {% set EXTRUDER_TEMP_ERROR = extruder_temp_error|float %}

      # Reheat heaters
      ENABLE_HEATER   HEATER=heater_bed TARGET={BED_TEMP}
      ENABLE_HEATER   HEATER=extruder   TARGET={EXTRUDER_TEMP}

      # Wait for heaters
      WAIT_FOR_HEATER HEATER=heater_bed TARGET={BED_TEMP}      TARGET_ERROR={BED_TEMP_ERROR}
      WAIT_FOR_HEATER HEATER=extruder   TARGET={EXTRUDER_TEMP} TARGET_ERROR={EXTRUDER_TEMP_ERROR}

      # Resume
      RESUME_BASE

      # Unretract
      TRY_UNRETRACT

      _RESPOND_COMMON TYPE=print_resumed
      
  {% endif %}
