[gcode_macro RESUME]
description: Resumes the current running print.
rename_existing: RESUME_BASE
gcode:
   # State validation
   {% if   printer.print_stats.state|lower == "standby"   %} {action_respond_info("Cannot pause when the printer is in standby mode.")}
   {% elif printer.print_stats.state|lower == "cancelled" %} {action_respond_info("Cannot pause a cancelled print.")}
   {% elif printer.print_stats.state|lower == "printing"  %} {action_respond_info("Printer already printing.")}

   {% else %}

      # Read extrude from pause macro
      {% set extrude_length = printer["gcode_macro PAUSE"].extrude|float %}

      # Get VELOCITY parameter if specified
      {% if 'VELOCITY' in params|upper %}

         {% set velocity = ('VELOCITY=' + params.VELOCITY)  %}

      {%else %}

         {% set velocity = "" %}

      {% endif %}

      # Check if extrusion is possible
      {% if printer.extruder.can_extrude|lower == 'true' %}

       # Relative positioning
       G91

       # Extrude to avoid gaps in print
       G1 E{extrude_length} F2100

      {% else %}

         {action_respond_info("Extruder is not hot enough for extrusion.")}

      {% endif %}

      RESUME_BASE {velocity}
      
  {% endif %}
