[gcode_macro RESUME]
description: Resumes the current running print.
rename_existing: RESUME_BASE
gcode:
   # State validation
   {% if   printer.print_stats.state|lower == "standby"   %} RESPOND TYPE=error MSG="Printer is idle."
   {% elif printer.print_stats.state|lower == "cancelled" %} RESPOND TYPE=error MSG="Cannot resume a cancelled print."
   {% elif printer.print_stats.state|lower == "printing"  %} RESPOND TYPE=echo  MSG="Print already running."

   {% else %}

      # Read extrude from pause macro
      {% set velocity = params.VELOCITY|default("")|string %}

      RESUME_BASE {velocity}

      # Check if extrusion is possible
      {% if printer.extruder.can_extrude|lower == 'true' %}

         # Extrude to avoid gaps in print
         G11
         
      {% endif %}
      
  {% endif %}
